* {
    font-family: monospace;
    font-size: clamp(0.9rem, 1.75vh, 2rem);
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    color: white;
}

ul {
    list-style: square;
}

a:link {
    color: #12B812;
}

a:hover {
    color: #09A009;
}

#page {
    padding: clamp(1rem, 10pt, 2rem);
}