* {
    font-family: monospace;
    font-size: clamp(0.9rem, 1.75vh, 2rem);
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    color: white;
}