* {
    font-family: monospace;
    font-size: clamp(0.9rem, 1.75vh, 2rem);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    color: white;
}

ul {
    list-style: square;
}

a:link {
    color: #12B812;
    letter-spacing: normal;
    transition: all 0.1s ease;
}

a:hover {
    color: #09A009;
    letter-spacing: 0.075rem;
    transition: all 0.1s ease;
}

#page {
    padding: clamp(1rem, 10pt, 2rem);
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        transform: translate(0.25rem, 3rem);
        rotate: -4deg;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        rotate: 0deg;
        opacity: 1;
    }
}