h1, h2, h1 > span {
    color: white;
}

h1 {
    font-size: clamp(1.5rem, 2.95vh, 3rem);
    margin-bottom: clamp(1.5rem, 2.95vh, 3rem);
    margin-top: 0;
}

h2 {
    font-size: clamp(1.2rem, 2.35vh, 2.4rem);
    margin-top: clamp(1.2rem, 2.35vh, 2.4rem);
    font-style: italic;
}

h1 > span {
    font-size: clamp(1.5rem, 2.95vh, 3rem);
    color: #222;
    transition: all 0.1s ease;
}

h1 > span:hover {
    color: white;
    transition: all 0.1s ease;
}

#titleImage {
    height: clamp(1.2rem, 2.35vh, 2.4rem);
    margin-right: clamp(0.9rem, 1.75vh, 2rem);
}

* {
    font-family: monospace;
    font-size: clamp(0.9rem, 1.75vh, 2rem);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222222;
    padding: 0;
    margin: 0;
    color: #DDD;
}

ul {
    list-style: square;
}

a:link {
    color: #12B812;
    letter-spacing: normal;
    transition: all 0.1s ease;
}

a:hover {
    color: #09A009;
    letter-spacing: 0.075rem;
    transition: all 0.1s ease;
}

a:visited {
    color: #12B812;
    font-style: italic;
    letter-spacing: normal;
    transition: all 0.1s ease;
}

#page {
    padding: clamp(1rem, 10pt, 2rem);
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    height: calc(100vh - clamp(1rem, 10pt, 2rem)*2);
}

@keyframes slideIn {
    from {
        transform: translate(0.75rem, 3rem);
        rotate: -4deg;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        rotate: 0deg;
        opacity: 1;
    }
}

table {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - clamp(1rem, 10pt, 2rem)*2 - clamp(1.2rem, 2.35vh, 2.4rem)*2);
    max-height: calc(100vh - clamp(1rem, 10pt, 2rem)*2 - clamp(1.2rem, 2.35vh, 2.4rem)*2);
}

td {
    vertical-align: top;
    min-width: 30%;
    overflow: hidden;
}

code {
    border: 2pt solid white;
    border-radius: 2pt;
    padding: 0 2pt;
    background-color: #111;
}